:root{
  --border-color: #282828;
  --widget-color: #525252;
  --splitter-color: #303030;
  --TT-color: #0F4C85;
}

/* Style the body */
body {
  font-family: "Helvetica";
  margin: 0;
  overflow: auto;
  height: 100%;
  background: grey;
}

/* Header/logo Title */
.header {
  padding: 5px;
  text-align: center;
  background: darkgray;
  color: black;
  max-height:60px;
}

.hmi-button{
  border-radius: 10px;
  background-color: #AAA;
  border: 2px solid #000;
  font-size: 16px;
  color: #000;
  width: 100px;
  height: 50px;
  position: fixed;
}
#content{
  position: fixed;
  top: 0px;
  left:0px;
}
.navBar{
  position: absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
  display: flex;    
  flex-wrap: nowrap;
}
.navBar-button{
text-align: center;
font-size: 30px;
border-radius: 10px;
margin: 4px;
width: 150px;
background-color: darkgray;
border: #000 solid 2px;
}
/* Widgets Here */
.widget{
  position:fixed;
  background-color:var(--widget-color);
  color:white;
  /* width:200px; */
  height:100px;
  font-weight:bold;
  border: 4px solid var(--border-color);
  border-radius: 10px;
  padding: 5px 5px 5px 5px
}
.widget > div{
  position:relative;
  width:100%;
  height: 100%;
}
.widget > div > label{
  /* display: block; */
  width:100%;
  height:30;
  border-radius: 5px;
  background-color:#0000;
  color: black;
  font-weight:bold;
  font-size: 24px;               
  text-align: center;
  line-height: 25px;
  padding: 4px
}
.widget > div > label2{
  /* display: block; */
  width:100%;
  height:40;
  border-radius: 5px;
  background-color:black;
  color:green;
  font-weight:bold;
  font-size: 24px;
  text-align: center;
  line-height: 35px;
  margin-top: 8px
}


